@import url("https://use.typekit.net/lsn8ekp.css");

h1, h2, h3, h4, h5, h6, header{
    font-family: gautreaux, sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: warnock-pro, serif;
    font-weight: 400;
    font-style: normal;
}